<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Pagecount:</strong>
  <%= @book.pagecount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p> 

<h2>Comments</h2>
<% @book.comments.approved.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.title %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @book, @book.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <% end %>
<%= link_to 'Back', dashboard_index_path %>
