<%if user_signed_in?%>
  
    <%= @user.username %><br/>
    <%= @user.email %><br/>
  
    <% if @user.books.any?%>
      <table>
     <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pagecount</th>
      </tr>
      
      </thead>

     <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.pagecount %></td>
          <td><%= link_to 'Show', book %></td>        </tr>
      <% end %>
      
      </tbody>
      </table>
      
    <%else%>
    <%end%>   
    
<%else%>
  <p><strong>If you want to see users profile you have to sign in</strong></p>
<% end %>
